@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

#dropdown-menu-3 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-3 .navbar-brand a {
  font-family: 'Indie Flower', cursive;
  font-size: 72px;
}
#dropdown-menu-3 .nav .link,
#dropdown-menu-3 .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-3 .navbar,
#dropdown-menu-3 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-3 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-3 .dropdown-menu a:hover,
#dropdown-menu-3 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-3 .navbar-toggler {
  color: #000000;
}
#header1-1o H1 {
  color: #f1c050;
}

#dropdown-menu-4 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-4 .navbar-brand a {
  font-family: 'Indie Flower', cursive;
  font-size: 72px;
}
#dropdown-menu-4 .nav .link,
#dropdown-menu-4 .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-4 .navbar,
#dropdown-menu-4 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-4 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-4 .dropdown-menu a:hover,
#dropdown-menu-4 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-4 .navbar-toggler {
  color: #000000;
}

#dropdown-menu-e .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-e .navbar-brand a {
  font-family: 'Indie Flower', cursive;
  font-size: 72px;
}
#dropdown-menu-e .nav .link,
#dropdown-menu-e .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-e .navbar,
#dropdown-menu-e .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-e .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-e .dropdown-menu a:hover,
#dropdown-menu-e .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-e .navbar-toggler {
  color: #000000;
}

#dropdown-menu-u .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-u .navbar-brand a {
  font-family: 'Indie Flower', cursive;
  font-size: 72px;
}
#dropdown-menu-u .nav .link,
#dropdown-menu-u .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-u .navbar,
#dropdown-menu-u .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-u .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-u .dropdown-menu a:hover,
#dropdown-menu-u .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-u .navbar-toggler {
  color: #000000;
}

#dropdown-menu-11 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-11 .navbar-brand a {
  font-family: 'Indie Flower', cursive;
  font-size: 72px;
}
#dropdown-menu-11 .nav .link,
#dropdown-menu-11 .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-11 .navbar,
#dropdown-menu-11 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-11 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-11 .dropdown-menu a:hover,
#dropdown-menu-11 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-11 .navbar-toggler {
  color: #000000;
}

#dropdown-menu-17 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-17 .navbar-brand a {
  font-family: 'Indie Flower', cursive;
  font-size: 72px;
}
#dropdown-menu-17 .nav .link,
#dropdown-menu-17 .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-17 .navbar,
#dropdown-menu-17 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-17 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-17 .dropdown-menu a:hover,
#dropdown-menu-17 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-17 .navbar-toggler {
  color: #000000;
}

#dropdown-menu-1d .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1d .navbar-brand a {
  font-family: 'Indie Flower', cursive;
  font-size: 72px;
}
#dropdown-menu-1d .nav .link,
#dropdown-menu-1d .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-1d .navbar,
#dropdown-menu-1d .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-1d .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1d .dropdown-menu a:hover,
#dropdown-menu-1d .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-1d .navbar-toggler {
  color: #000000;
}

#dropdown-menu-m .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-m .navbar-brand a {
  font-family: 'Indie Flower', cursive;
  font-size: 72px;
}
#dropdown-menu-m .nav .link,
#dropdown-menu-m .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-m .navbar,
#dropdown-menu-m .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-m .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-m .dropdown-menu a:hover,
#dropdown-menu-m .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-m .navbar-toggler {
  color: #000000;
}

#dropdown-menu-1j .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1j .navbar-brand a {
  font-family: 'Indie Flower', cursive;
  font-size: 72px;
}
#dropdown-menu-1j .nav .link,
#dropdown-menu-1j .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-1j .navbar,
#dropdown-menu-1j .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-1j .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1j .dropdown-menu a:hover,
#dropdown-menu-1j .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-1j .navbar-toggler {
  color: #000000;
}
