@import url(https://fonts.googleapis.com/css?family=Indie+Flower);





#dropdown-menu-3 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-3 .navbar-brand a {
  font-family: 'Indie Flower', cursive;
  font-size: 46px;
}
#dropdown-menu-3 .nav .link,
#dropdown-menu-3 .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Indie Flower', cursive;
}
#dropdown-menu-3 .navbar,
#dropdown-menu-3 .dropdown-menu {
  background: #5bc0de;
}
#dropdown-menu-3 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-3 .dropdown-menu a:hover,
#dropdown-menu-3 .dropdown-menu a:focus {
  background: #4ab9db;
}
#dropdown-menu-3 .navbar-toggler {
  color: #000000;
}
#dropdown-menu-3 A {
  font-family: 'Indie Flower', cursive;
}
#header1-1o H1 {
  color: #f1c050;
}
#msg-box2-2d .btn {
  font-family: 'Indie Flower', cursive;
}
#msg-box2-2d H2 {
  font-family: 'Indie Flower', cursive;
  font-size: 60px;
  color: #5cb85c;
}


#dropdown-menu-4 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-4 .navbar-brand a {
  font-family: 'Indie Flower', cursive;
  font-size: 46px;
}
#dropdown-menu-4 .nav .link,
#dropdown-menu-4 .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-4 .navbar,
#dropdown-menu-4 .dropdown-menu {
  background: #5bc0de;
}
#dropdown-menu-4 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-4 .dropdown-menu a:hover,
#dropdown-menu-4 .dropdown-menu a:focus {
  background: #4ab9db;
}
#dropdown-menu-4 .navbar-toggler {
  color: #000000;
}
#dropdown-menu-4 A {
  font-family: 'Indie Flower', cursive;
}






#dropdown-menu-e .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-e .navbar-brand a {
  font-family: 'Indie Flower', cursive;
  font-size: 46px;
}
#dropdown-menu-e .nav .link,
#dropdown-menu-e .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Indie Flower', cursive;
}
#dropdown-menu-e .navbar,
#dropdown-menu-e .dropdown-menu {
  background: #5bc0de;
}
#dropdown-menu-e .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-e .dropdown-menu a:hover,
#dropdown-menu-e .dropdown-menu a:focus {
  background: #4ab9db;
}
#dropdown-menu-e .navbar-toggler {
  color: #000000;
}
#dropdown-menu-e A {
  font-family: 'Indie Flower', cursive;
}
#header3-f H3 {
  font-family: 'Indie Flower', cursive;
  color: #5bc0de;
}
#header3-f SMALL {
  font-family: 'Indie Flower', cursive;
}
#image2-h DIV {
  color: #0275d8;
  font-size: 36px;
  font-family: 'Indie Flower', cursive;
}


#dropdown-menu-u .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-u .navbar-brand a {
  font-family: 'Indie Flower', cursive;
  font-size: 46px;
}
#dropdown-menu-u .nav .link,
#dropdown-menu-u .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-u .navbar,
#dropdown-menu-u .dropdown-menu {
  background: #5bc0de;
}
#dropdown-menu-u .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-u .dropdown-menu a:hover,
#dropdown-menu-u .dropdown-menu a:focus {
  background: #4ab9db;
}
#dropdown-menu-u .navbar-toggler {
  color: #000000;
}
#dropdown-menu-u A {
  font-family: 'Indie Flower', cursive;
}


#dropdown-menu-11 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-11 .navbar-brand a {
  font-family: 'Indie Flower', cursive;
  font-size: 46px;
}
#dropdown-menu-11 .nav .link,
#dropdown-menu-11 .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-11 .navbar,
#dropdown-menu-11 .dropdown-menu {
  background: #5bc0de;
}
#dropdown-menu-11 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-11 .dropdown-menu a:hover,
#dropdown-menu-11 .dropdown-menu a:focus {
  background: #4ab9db;
}
#dropdown-menu-11 .navbar-toggler {
  color: #000000;
}
#dropdown-menu-11 A {
  font-family: 'Indie Flower', cursive;
}


#dropdown-menu-17 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-17 .navbar-brand a {
  font-family: 'Indie Flower', cursive;
  font-size: 46px;
}
#dropdown-menu-17 .nav .link,
#dropdown-menu-17 .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-17 .navbar,
#dropdown-menu-17 .dropdown-menu {
  background: #5bc0de;
}
#dropdown-menu-17 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-17 .dropdown-menu a:hover,
#dropdown-menu-17 .dropdown-menu a:focus {
  background: #4ab9db;
}
#dropdown-menu-17 .navbar-toggler {
  color: #000000;
}
#dropdown-menu-17 A {
  font-family: 'Indie Flower', cursive;
}


#dropdown-menu-1d .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1d .navbar-brand a {
  font-family: 'Indie Flower', cursive;
  font-size: 46px;
}
#dropdown-menu-1d .nav .link,
#dropdown-menu-1d .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-1d .navbar,
#dropdown-menu-1d .dropdown-menu {
  background: #5bc0de;
}
#dropdown-menu-1d .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1d .dropdown-menu a:hover,
#dropdown-menu-1d .dropdown-menu a:focus {
  background: #4ab9db;
}
#dropdown-menu-1d .navbar-toggler {
  color: #000000;
}
#dropdown-menu-1d A {
  font-family: 'Indie Flower', cursive;
}



#dropdown-menu-m .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-m .navbar-brand a {
  font-family: 'Indie Flower', cursive;
  font-size: 46px;
}
#dropdown-menu-m .nav .link,
#dropdown-menu-m .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Indie Flower', cursive;
}
#dropdown-menu-m .navbar,
#dropdown-menu-m .dropdown-menu {
  background: #5bc0de;
}
#dropdown-menu-m .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-m .dropdown-menu a:hover,
#dropdown-menu-m .dropdown-menu a:focus {
  background: #4ab9db;
}
#dropdown-menu-m .navbar-toggler {
  color: #000000;
}
#dropdown-menu-m A {
  font-family: 'Indie Flower', cursive;
}



#dropdown-menu-1j .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1j .navbar-brand a {
  font-family: 'Indie Flower', cursive;
  font-size: 46px;
}
#dropdown-menu-1j .nav .link,
#dropdown-menu-1j .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Indie Flower', cursive;
}
#dropdown-menu-1j .navbar,
#dropdown-menu-1j .dropdown-menu {
  background: #5bc0de;
}
#dropdown-menu-1j .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1j .dropdown-menu a:hover,
#dropdown-menu-1j .dropdown-menu a:focus {
  background: #4ab9db;
}
#dropdown-menu-1j .navbar-toggler {
  color: #000000;
}
#dropdown-menu-1j A {
  font-family: 'Indie Flower', cursive;
}



#dropdown-menu-1x .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1x .navbar-brand a {
  font-family: 'Indie Flower', cursive;
  font-size: 46px;
}
#dropdown-menu-1x .nav .link,
#dropdown-menu-1x .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Indie Flower', cursive;
}
#dropdown-menu-1x .navbar,
#dropdown-menu-1x .dropdown-menu {
  background: #5bc0de;
}
#dropdown-menu-1x .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1x .dropdown-menu a:hover,
#dropdown-menu-1x .dropdown-menu a:focus {
  background: #4ab9db;
}
#dropdown-menu-1x .navbar-toggler {
  color: #000000;
}
#dropdown-menu-1x A {
  font-family: 'Indie Flower', cursive;
}



#dropdown-menu-23 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-23 .navbar-brand a {
  font-family: 'Indie Flower', cursive;
  font-size: 46px;
}
#dropdown-menu-23 .nav .link,
#dropdown-menu-23 .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Indie Flower', cursive;
}
#dropdown-menu-23 .navbar,
#dropdown-menu-23 .dropdown-menu {
  background: #5bc0de;
}
#dropdown-menu-23 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-23 .dropdown-menu a:hover,
#dropdown-menu-23 .dropdown-menu a:focus {
  background: #4ab9db;
}
#dropdown-menu-23 .navbar-toggler {
  color: #000000;
}
#dropdown-menu-23 A {
  font-family: 'Indie Flower', cursive;
}
